<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DreamGigs</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png"> 
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">
		
	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

	<!-- Select CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
						<a href="index.html" class="navbar-brand logo-small">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="#"> <i class="fas fa-times"></i></a>
						</div>
						<ul class="main-nav navbar-nav">
							<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Gigs <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="service.html">Gigs Grid</a></li>
									<li><a href="service-grid-sidebar.html">Gig Left Sidebar</a></li>
									<li><a href="service-details.html">Gig Details</a></li>
									<li><a href="categories.html">Gig Category</a></li>
									<li><a href="categories-2.html">Gig Category 2</a></li>
									<li><a href="service-sub-category.html">Gig Subcategory</a></li>
									<li><a href="add-gigs.html">Create a Gig</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="" class="active">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html" class="active">About Us</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Our Team</a>
										<ul class="submenu">
											<li><a href="team.html">Team Grid</a></li>
											<li><a href="team-carousel.html">Team Carousel</a></li>
											<li><a href="team-details.html">Team Details</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Authentication</a>
										<ul class="submenu">
											<li><a href="signin.html">Login</a></li>
											<li><a href="signup.html">Register</a></li>
											<li><a href="forgot-password.html">Forgot Password</a></li>
											<li><a href="lock-screen.html">Lock Screen</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Error pages</a>
										<ul class="submenu">
											<li><a href="error-404.html">Error 404</a></li>
											<li><a href="error-500.html">Error 500</a></li>
										</ul>
									</li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="under-construction.html">Maintenance</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog.html">Blog 3 Grid</a></li>
									<li><a href="blog-2-grid.html">Blog 2 Grid</a></li>
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-carousel.html">Blog Carousal</a></li>
									<li><a href="blog-mansory.html">Blog Mansory</a></li>
									<li><a href="blog-sidebar.html">Blog Left Sidebar</a></li>
									<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
									<li><a href="blog-details-sidebar.html">Blog Details Left Sidebar</a></li>
									<li><a href="blog-details-right-sidebar.html">Blog Details Right  Sidebar</a></li>
								</ul>
							</li>					
							<li class="has-submenu">
								<a href="javascript:void(0);">User Dashboard <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="user-dashboard.html">Dashboard</a></li>
									<li><a href="user-profile.html">My Profile</a></li>
									<li><a href="user-gigs.html">Manage Gigs</a></li>
									<li><a href="user-purchase.html">Purchase</a></li>
									<li><a href="user-sales.html">Sales</a></li>
									<li><a href="user-files.html">Files</a></li>
									<li><a href="user-reviews.html">My Reviews</a></li>
									<li><a href="user-wishlist.html">Wishlist</a></li>
									<li><a href="user-message.html">Messages</a></li>
									<li><a href="user-wallet.html">Wallet</a></li>
									<li><a href="user-payments.html">Payments</a></li>
									<li><a href="user-settings.html">Settings</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Contact <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="contact-us.html">Contact V1</a></li>
									<li><a href="contact-us-v2.html">Contact V2</a></li>
									<li><a href="contact-us-v3.html">Contact V3</a></li>
								</ul>
							</li>
							<li class="nav-item responsive-link"><a href="signin.html" class="nav-link">Sign In</a></li>
							<li class="nav-item responsive-link"><a href="signup.html" class="nav-link">Get Started</a></li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<li class="nav-item">
							<a class="btn btn-secondary" href="signin.html">Sign In</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-primary" href="signup.html">Get Started</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="breadcrumb-img">
				<div class="breadcrumb-left">
					<img src="assets/img/bg/banner-bg-03.png" alt="img">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item" aria-current="page">About Us </li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">
							About Us
						</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- About Us -->
		<section class="about-us-section">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="about-inner-img">
									<img src="assets/img/aboutus/about-us-01.jpg" class="img-fluid" alt="img">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-12">
										<div class="about-inner-img">
											<img src="assets/img/aboutus/about-us-02.jpg" class="img-fluid" alt="img">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="about-inner-img">
											<img src="assets/img/aboutus/about-us-03.jpg" class="img-fluid" alt="img">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-us-info">
							<div class="about-us-head">
								<h6>About Us</h6>
								<h2>We Provide Best solutions For Your Business</h2>
								<p>Welcome to DreamGigs, where innovation meets expertise. We are a dynamic 
									and forward-thinking service marketplace dedicated to connecting individuals 
									and businesses with the best professionals in various fields. Our 
									platform is designed to simplify the process of finding and hiring top-tier services, 
									ensuring a seamless experience for both service providers and seekers.
								</p>
								<h5>Our Mission</h5>
								<p>At DreamGigs, our mission is to empower individuals and businesses by 
									facilitating easy access to a diverse range of high-quality services. We believe in creating a 
									collaborative and inclusive marketplace that 
									fosters growth, creativity, and mutual success.
								</p>
							</div>
							<div class="about-features">
								<ul class="list-one">
									<li><span><img src="assets/img/icons/target-arrow-icon.svg" alt="img"></span>Diverse Network of Professionals</li>
									<li><span><img src="assets/img/icons/target-arrow-icon.svg" alt="img"></span>Trust and Transparency</li>
								</ul>
								<ul class="list-two">
									<li><span><img src="assets/img/icons/target-arrow-icon.svg" alt="img"></span>User Friendly Platform</li>
									<li><span><img src="assets/img/icons/target-arrow-icon.svg" alt="img"></span>Innovation In Technology</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /About Us -->

		<!-- Why Choose Us -->
		<section class="why-choose-sec">
			<div class="container">
				<div class="about-us-header">
					<h2>Why Choose Us</h2>
					<p>We prioritize your satisfaction through personalized solutions and a commitment to excellence.</p>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="why-choose-card">
							<div class="card-icon">
								<img src="assets/img/icons/why-choose-icon-01.svg" alt="img">
							</div>
							<h4>Service Commitment</h4>
							<p> We deliver top-tier solutions, ensuring satisfaction through reliability, 
								transparency, and a dedication to exceeding expectations.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="why-choose-card">
							<div class="card-icon">
								<img src="assets/img/icons/why-choose-icon-02.svg" alt="img">
							</div>
							<h4>Fabulous Experience</h4>
							<p> Our intuitive interface offers an effortless journey, from browsing 
								services to booking and beyond.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="why-choose-card">
							<div class="card-icon">
								<img src="assets/img/icons/why-choose-icon-03.svg" alt="img">
							</div>
							<h4>Data Secure</h4>
							<p> We employ robust encryption, stringent access controls, and ongoing 
								monitoring to safeguard your information.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="why-choose-card">
							<div class="card-icon">
								<img src="assets/img/icons/why-choose-icon-04.svg" alt="img">
							</div>
							<h4>Fast Service</h4>
							<p>  We prioritize speed without compromising quality, ensuring your 
								needs are met promptly and effectively
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="why-choose-card">
							<div class="card-icon">
								<img src="assets/img/icons/why-choose-icon-05.svg" alt="img">
							</div>
							<h4>Secure Payment</h4>
							<p>  Enjoy peace of mind with encrypted transactions, trusted gateways, 
								and a commitment to safeguarding your information.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="why-choose-card">
							<div class="card-icon">
								<img src="assets/img/icons/why-choose-icon-06.svg" alt="img">
							</div>
							<h4>Dedicated Support</h4>
							<p> Our 24/7 customer service team is here to assist you every step of the way. 
								Experience personalized assistance for a seamless journey
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Why Choose Us -->

		<!-- Explore Popular Categories -->
		<section class="popular-category-sec">
			<div class="container">
				<div class="about-us-header">
					<h2>Explore Popular Categories</h2>
					<p>From in-demand services to crowd favourites, find what suits your needs</p>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="popular-category-slider owl-carousel">
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-01.svg" alt="img">
									</div>
									<h4>Digital Marketing </h4>
									<span>100 Services</span>
								</div>
							</div>
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-02.svg" alt="img">
									</div>
									<h4>Programming & Tech </h4>
									<span>200 Services</span>
								</div>
							</div>								
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-03.svg" alt="img">
									</div>
									<h4>Writing Translation </h4>
									<span>100 Services</span>
								</div>
							</div>		
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-04.svg" alt="img">
									</div>
									<h4>Photography </h4>
									<span>150 Services</span>
								</div>
							</div>		
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-05.svg" alt="img">
									</div>
									<h4>Artificial Intelligence </h4>
									<span>100 Services</span>
								</div>
							</div>		
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-03.svg" alt="img">
									</div>
									<h4>Writing Translation </h4>
									<span>100 Services</span>
								</div>
							</div>		
							<div class="slider-cards">
								<div class="popular-cat-card">
									<div class="category-icon">
										<img src="assets/img/icons/popular-category-04.svg" alt="img">
									</div>
									<h4>Photography </h4>
									<span>150 Services</span>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Explore Popular Categories -->

		<!-- What Our Client Say -->
		<section class="client-review-sec">
			<div class="container">
				<div class="about-us-header">
					<h2>What Our Client Say</h2>
					<p>Hear What Our Clients Have to Say. Explore the Testimonials that Showcase 
						Our Commitment to Excellence
					</p>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="review-slider owl-carousel">
							<div class="review-card">
								<span class="quotation-icon"><img src="assets/img/icons/quotation-icon.svg" alt="img"></span>
								<h4>Great Work</h4>
								<p>“Amazing design, easy to customize and a design quality superlative account on its cloud platform
									for the optimized performance. And we didn't 
									on our original designs.”
								</p>
								<div class="star-rate">
									<span>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
									</span>
								</div>
								<div class="review-user">
									<a href="javascript:void(0);"><img src="assets/img/user/user-17.jpg" alt="img"></a>
									<h6><a href="javascript:void(0);">Gloria Weber</a><span>United States</span></h6>
								</div>
							</div>
							<div class="review-card">
								<span class="quotation-icon"><img src="assets/img/icons/quotation-icon.svg" alt="img"></span>
								<h4>Seamless Experience</h4>
								<p>“Communication with the service provider was smooth and 
									efficient through the platform's messaging system. 
									The built-in tools for file sharing ensuring a productive experience.”
								</p>
								<div class="star-rate">
									<span>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
									</span>
								</div>
								<div class="review-user">
									<a href="javascript:void(0);"><img src="assets/img/user/user-18.jpg" alt="img"></a>
									<h6><a href="javascript:void(0);">John Cramer</a><span>United States</span></h6>
								</div>
							</div>
							<div class="review-card">
								<span class="quotation-icon"><img src="assets/img/icons/quotation-icon.svg" alt="img"></span>
								<h4>Great Work</h4>
								<p>“This service marketplace is a game-changer, delivering a polished and 
									professional platform that exceeded our expectations 
									and it saved us time and resources, allowing for a quick launch.”
								</p>
								<div class="star-rate">
									<span>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
									</span>
								</div>
								<div class="review-user">
									<a href="javascript:void(0);"><img src="assets/img/user/user-19.jpg" alt="img"></a>
									<h6><a href="javascript:void(0);">Mary Marquez</a><span>United States</span></h6>
								</div>
							</div>
							<div class="review-card">
								<span class="quotation-icon"><img src="assets/img/icons/quotation-icon.svg" alt="img"></span>
								<h4>Great Work</h4>
								<p>“This service marketplace is a game-changer, delivering a polished and 
									professional platform that exceeded our expectations 
									and it saved us time and resources, allowing for a quick launch.”
								</p>
								<div class="star-rate">
									<span>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
										<i class="fa-solid fa-star filled"></i>
									</span>
								</div>
								<div class="review-user">
									<a href="javascript:void(0);"><img src="assets/img/user/user-16.jpg" alt="img"></a>
									<h6><a href="javascript:void(0);">Joanne Parise</a><span>United States</span></h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /What Our Client Say -->

		<!-- Start As Seller -->
		<section class="start-seller-sec">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex">
						<div class="seller-inner-img w-100">
							<img src="assets/img/aboutus/about-us-04.jpg" class="img-fluid" alt="img">
						</div>
					</div>
					<div class="col-lg-6 d-flex">
						<div class="seller-info-content w-100">
							<div class="seller-head">
								<h3>Start As Seller</h3>
								<p>Embark on a Journey of Entrepreneurship, Launch Your Seller Profile Today.</p>
								<p class="seller-para">Showcase your expertise on a platform designed for success. Create your 
									seller profile, highlight your skills, and set your services apart. 
									Benefit from our robust marketplace that connects you with a global audience.
								</p>
							</div>
							<div class="seller-feature-list d-flex w-100">
								<div class="sllers-list">
									<ul>
										<li><span><i class="feather-check-square"></i></span>Set your prices</li>
										<li><span><i class="feather-check-square"></i></span>Flexible schedule</li>
										<li><span><i class="feather-check-square"></i></span>Build your reputation</li>
										<li><span><i class="feather-check-square"></i></span>Provide 24/7 support</li>
									</ul>
									<a href="signin.html" class="btn btn-primary w-auto">Become A Seller</a>
								</div>
								<div class="seller-small-img w-100">
									<img src="assets/img/aboutus/about-us-05.jpg" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Start As Seller -->

		<!-- Footer -->
		<footer class="footer">
			<div class="section-bg">
				<img src="assets/img/bg/footer-bg-01.png" class="footer-bg-one" alt="img">
				<img src="assets/img/bg/footer-bg-02.png" class="footer-bg-two" alt="img">
			</div>
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget">
								<a href="index.html">
									<img src="assets/img/white-logo.svg" alt="logo">
								</a>
								<p>Our mission is to lead the way in digital transformation and automation. We aim to enabling them to navigate the evolving digital landscape with confidence.</p>
								<div class="social-links">
									<ul>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-google"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3>Our Company</h3>
								<ul class="menu-items">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="categories-2.html">Categories</a></li>
									<li><a href="add-gigs.html">Create Gigs</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="faq.html">FAQ</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3>Dashboard</h3>
								<ul class="menu-items">
									<li><a href="user-purchase.html">Purchase</a></li>
									<li><a href="user-sales.html">Sales</a></li>
									<li><a href="user-payments.html">Payments</a></li>
									<li><a href="user-files.html">Files</a></li>
									<li><a href="user-wishlist.html">Wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
							<div class="footer-widget">
								<h3>Featured Categories</h3>
								<div class="row">
									<div class="col-md-6">
										<ul class="menu-items">
											<li><a href="categories.html">Programming & Tech</a></li>
											<li><a href="categories.html">Music & Audio</a></li>
											<li><a href="categories.html">Lifestyle</a></li>
											<li><a href="categories.html">Photography</a></li>
											<li><a href="categories.html">Business</a></li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="menu-items extra-menu">
											<li><a href="categories.html">eBook Publishing</a></li>
											<li><a href="categories.html">AI Artists</a></li>
											<li><a href="categories.html">AI Services</a></li>
											<li><a href="categories.html">Data</a></li>
											<li><a href="categories.html">Consulting</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="contact-widget">
						<div class="row align-items-center">						
							<div class="col-xl-9">
								<ul class="location-list">
									<li>
										<span><i class="feather-map-pin"></i></span>
										<div class="location-info">
											<h6>Address</h6>
											<p>367 Hillcrest Lane, Irvine, California,USA</p>
										</div>
									</li>
									<li>
										<span><i class="feather-phone"></i></span>
										<div class="location-info">
											<h6>Phone</h6>
											<p>310-437-2766</p>
										</div>
									</li>
									<li>
										<span><i class="feather-mail"></i></span>
										<div class="location-info">
											<h6>Email</h6>
											<p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="71181f171e311409101c011d145f121e1c">[email&#160;protected]</a></p>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-xl-3 text-xl-end">
								<div class="paypal-icons">
									<a href="javascript:void(0);">
										<img src="assets/img/icons/stripe-icon.svg" alt="icon">
									</a>
									<a href="javascript:void(0);">
										<img src="assets/img/icons/paypal-icon.svg" alt="icon">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="copy-right">
								<p>Copyright © 2024 DreamGigs. All rights reserved.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="footer-bottom-links">
								<ul>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="terms-condition.html">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /Footer -->

		<!-- Mouse Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Mouse Cursor -->

		<!-- Top Scroll -->
		<div class="back-to-top">
			<a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top">
				<img src="assets/img/icons/arrow-badge-up.svg" alt="img">
			</a>
		</div>
		<!-- /Top Scroll -->

	</div>
	<!-- /Main Wrapper -->
	
	<!-- jQuery -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>
	
	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>
	<script src="assets/js/bootstrap-scrollspy.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>

	<!-- Feather JS -->
	<script src="assets/js/feather.min.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>
		
	<!-- Owl Carousel JS -->
	<script src="assets/js/owl.carousel.min.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>

	<!-- Select JS -->
	<script src="assets/plugins/select2/js/select2.min.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js" type="d2ba4de377d8f4edd08f1f56-text/javascript"></script>
	
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d2ba4de377d8f4edd08f1f56-|49" defer=""></script></body>
</html>