<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>DreamGigs</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png"> 
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Select CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
						<a href="index.html" class="navbar-brand logo-small">
							<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="#"> <i class="fas fa-times"></i></a>
						</div>
						<ul class="main-nav navbar-nav">
							<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Gigs <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="service.html">Gigs Grid</a></li>
									<li><a href="service-grid-sidebar.html">Gig Left Sidebar</a></li>
									<li><a href="service-details.html">Gig Details</a></li>
									<li><a href="categories.html">Gig Category</a></li>
									<li><a href="categories-2.html">Gig Category 2</a></li>
									<li><a href="service-sub-category.html">Gig Subcategory</a></li>
									<li><a href="add-gigs.html">Create a Gig</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Us</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Our Team</a>
										<ul class="submenu">
											<li><a href="team.html">Team Grid</a></li>
											<li><a href="team-carousel.html">Team Carousel</a></li>
											<li><a href="team-details.html">Team Details</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Authentication</a>
										<ul class="submenu">
											<li><a href="signin.html">Login</a></li>
											<li><a href="signup.html">Register</a></li>
											<li><a href="forgot-password.html">Forgot Password</a></li>
											<li><a href="lock-screen.html">Lock Screen</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Error pages</a>
										<ul class="submenu">
											<li><a href="error-404.html">Error 404</a></li>
											<li><a href="error-500.html">Error 500</a></li>
										</ul>
									</li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="under-construction.html">Maintenance</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog.html">Blog 3 Grid</a></li>
									<li><a href="blog-2-grid.html">Blog 2 Grid</a></li>
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-carousel.html">Blog Carousal</a></li>
									<li><a href="blog-mansory.html">Blog Mansory</a></li>
									<li><a href="blog-sidebar.html">Blog Left Sidebar</a></li>
									<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
									<li><a href="blog-details-sidebar.html">Blog Details Left Sidebar</a></li>
									<li><a href="blog-details-right-sidebar.html">Blog Details Right  Sidebar</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);" class="active">User Dashboard <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="user-dashboard.html">Dashboard</a></li>
									<li><a href="user-profile.html">My Profile</a></li>
									<li><a href="user-gigs.html">Manage Gigs</a></li>
									<li><a href="user-purchase.html">Purchase</a></li>
									<li><a href="user-sales.html">Sales</a></li>
									<li><a href="user-files.html">Files</a></li>
									<li><a href="user-reviews.html">My Reviews</a></li>
									<li><a href="user-wishlist.html">Wishlist</a></li>
									<li><a href="user-message.html">Messages</a></li>
									<li><a href="user-wallet.html">Wallet</a></li>
									<li><a href="user-payments.html">Payments</a></li>
									<li><a href="user-settings.html" class="active">Settings</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Contact <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="contact-us.html">Contact V1</a></li>
									<li><a href="contact-us-v2.html">Contact V2</a></li>
									<li><a href="contact-us-v3.html">Contact V3</a></li>
								</ul>
							</li>
							<li class="nav-item responsive-link"><a href="signin.html" class="nav-link">Sign In</a></li>
							<li class="nav-item responsive-link"><a href="signup.html" class="nav-link">Get Started</a></li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<!-- Notifications -->
						<li class="nav-item logged-item noti-nav noti-wrapper">
							<a href="#" class="nav-link" data-bs-toggle="dropdown">
								<span class="bell-icon"><img src="assets/img/icons/bell-icon.svg" alt="Bell"></span> 
								<span class="badge badge-pill"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-end noti-blk">
								<div class="topnav-dropdown-header">
									<div>
										<p class="notification-title">Notifications <a href="#" class="clear-notification">Clear All</a></p>											
									</div>
									<a href="javascript:void(0)" class="mark-all-noti"> Mark all as read <i class="feather-check-square"></i></a>
								</div>
								<ul>
									<li class="notification-message">
										<div class="media noti-img d-flex">
											<a href="user-notification.html" class="active-noti">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="assets/img/user/user-01.jpg">
												</span>
											</a>
											<div class="media-body flex-grow-1">
												<a href="user-notification.html"><h6 class="noti-details">Lex Murphy <span>requested access to </span> UNIX directory tree hierarchy  </h6></a>
												<div class="notify-btns">
													<button class="btn btn-sm btn-primary">Accept</button>														
													<button class="btn btn-sm  btn-secondary">Decline</button>
												</div>
												<p class="noti-time"><span class="notification-time">Today at 9:42 AM</span></p>
											</div>
										</div>
									</li>
									<li class="notification-message">
										<div class="media noti-img d-flex">
											<a href="user-notification.html" class="active-noti">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="assets/img/user/user-02.jpg">
												</span>
											</a>
											<div class="media-body flex-grow-1">
												<a href="user-notification.html"><h6 class="noti-details">Ray Arnold <span> left 6 comments on </span> Isla Nublar SOC2 compliance report</h6></a>
												<p class="noti-time notitime"><span class="notification-time">Yesterday at 11:42 PM</span></p>
											</div>
										</div>
									</li>
									<li class="notification-message">
										<div class="media noti-img d-flex">
											<a href="user-notification.html">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="assets/img/user/user-03.jpg">
												</span>
											</a>
											<div class="media-body flex-grow-1">
												<a href="user-notification.html"><h6 class="noti-details">Dennis Nedry <span> commented on </span> Isla Nublar SOC2 compliance report    </h6></a>
												<p class="noti-reply-msg">“Oh, I finished de-bugging the phones, but the system's compiling for eighteen minutes, or twenty.  So, some minor systems may go on and off for a while.”</p>
												<p class="noti-time notitime"><span class="notification-time">Yesterday at 5:42 PM</span></p>
											</div>
										</div>
									</li>	
									<li class="notification-message">
										<div class="media noti-img d-flex">
											<a href="user-notification.html">
												<span class="avatar avatar-sm flex-shrink-0">
													<img class="avatar-img rounded-circle img-fluid" alt="User Image" src="assets/img/user/user-04.jpg">
												</span>
											</a>
											<div class="media-body flex-grow-1">
												<a href="user-notification.html"><h6 class="noti-details">John Hammond <span> created </span> Isla Nublar SOC2 compliance report  </h6></a>
												<p class="noti-time notitime"><span class="notification-time">Last Wednesday at 11:15 AM</span></p>
											</div>
										</div>
									</li>												
								</ul>
								<div class="clear-all-noti">
									<a class="clear-notification" href="user-notification.html"> View all </a>
								</div>
							</div>
						</li>
						<!-- /Notifications -->

						<!-- User Menu -->
						<li class="nav-item dropdowns has-arrow logged-item">
							<a href="#" class="nav-link toggle">
								<span class="log-user dropdown-toggle">
									<span class="users-img">
										<img class="rounded-circle" src="assets/img/user/user-05.jpg" alt="Profile">
									</span>
									<span class="user-text">Harry Brooks</span>
								</span>
							</a>
							<div class="dropdown-menu list-group">
								<div class="user-item">
									<img src="assets/img/user/user-05.jpg" alt="Profile">
									<div class="user-name">
										<h6>Harry Brooks</h6>
										<p>Joined On : 14 Jan 2024</p>
									</div>
								</div>
								<div class="search-filter-selected select-icon">
									<div class="form-group">
										<span class="sort-text"><img src="assets/img/icons/user-cog.svg" class="img-fluid" alt="img"></span>
										<select class="select">
											<option>Seller</option>
											<option>Buyer</option>
										</select>
									</div>
								</div>
								<a class="dropdown-item drop-line" href="user-dashboard.html">
									<img src="assets/img/icons/dashboard-icon-01.svg" class="img-fluid" alt="img">Dashboard
								</a>
								<a class="dropdown-item" href="user-purchase.html">
									<img src="assets/img/icons/dashboard-icon-03.svg" class="img-fluid" alt="img">My Purchase
								</a>
								<a class="dropdown-item" href="user-sales.html">
									<img src="assets/img/icons/dashboard-icon-04.svg" class="img-fluid" alt="img">My Sales
								</a>
								<a class="dropdown-item" href="user-wallet.html">
									<img src="assets/img/icons/dashboard-icon-09.svg" class="img-fluid" alt="img">My Wallet
								</a>
								<hr>
								<a class="dropdown-item" href="user-settings.html">
									<img src="assets/img/icons/settings-cog.svg" class="img-fluid" alt="img">Settings
								</a>
								<a class="dropdown-item" href="user-profile.html">
									<img src="assets/img/icons/user-cog.svg" class="img-fluid" alt="img">My Profile
								</a>
								<hr>
								<a class="dropdown-item log-out" href="index.html">
									<img src="assets/img/icons/logout.svg" class="img-fluid" alt="img">Logout
								</a>
							</div>
						</li>
						<!-- /User Menu -->
					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar breadcrumb-bar-info">
			<div class="breadcrumb-img">
				<div class="breadcrumb-left">
					<img src="assets/img/bg/banner-bg-03.png" alt="img">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item" aria-current="page">Settings</li>
							</ol>
						</nav>						
						<h2 class="breadcrumb-title mb-0">
							Settings
						</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="page-content">
			<div class="container">
				<div class="page-back-btn">
					<a href="user-dashboard.html"><i class="feather-arrow-left me-2"></i>Back to Dashboard</a>
				</div>
				<div class="settings-page-lists">
					<ul class="settings-head">
						<li>
							<a href="user-settings.html">Profile</a>
						</li>
						<li>
							<a href="security-settings.html">Security</a>
						</li>
						<li>
							<a href="preference-settings.html">Preferences</a>
						</li>
						<li>
							<a href="billing-settings.html" class="active">Plan & Billing</a>
						</li>
						<li>
							<a href="notification-settings.html">Notifications</a>
						</li>
						<li>
							<a href="integration-settings.html">Integrations</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="billing-type">
							<div class="row">
								<div class="col-lg-6">
									<div class="settings-card">
										<div class="settings-card-head">
											<h5>Current Plan: Basic</h5>
											<span>Renew On: 01 Feb 2024</span>
										</div>
										<div class="settings-card-body">
											<div class="btn-item">
												<a href="#" class="btn btn-primary">Manage</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="settings-card">
										<div class="settings-card-head d-flex justify-content-between align-items-start">
											<div class="payment-method-add">
												<h5>Payment Method</h5>
												<span>Expires On: 04 Mar 2024</span>
											</div>
											<a href="#" class="add-payment payment-btn">Add</a>
										</div>
										<div class="settings-card-body">
											<div class="payment-method-edit">
												<div class="card-type">
													<span class="payment-card-img">
														<img src="assets/img/icons/visa.svg" alt="">
													</span>
													<div class="card-no">
														<span>Visa *****4023</span>
													</div>
												</div>
												<a href="#" class="edit-payment payment-btn">Edit</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="plan-bill-table">
					<div class="dashboard-header">
						<div class="main-title">
							<h3>Invoices</h3>
							<div id="tableinfo"></div>
						</div>
						<div class="head-info">
							<p>Total Payments <span class="text-primary">(17)</span></p>
						</div>
					</div>
					<div class="table-filter">
						<ul class="filter-item">
							<li>
								<p>Filter</p>
							</li>
							<li>
								<div class="form-sort form-wrap">
									<span class="form-icon">
										<img src="assets/img/icons/calendar-icon.svg" alt="icon">
									</span>
									<input type="text" class="form-control datetimepicker" placeholder="From Date">
								</div>
							</li>
							<li>
								<div class="form-sort form-wrap">
									<span class="form-icon">
										<img src="assets/img/icons/calendar-icon.svg" alt="icon">
									</span>
									<input type="text" class="form-control datetimepicker" placeholder="To Date">
								</div>
							</li>
							<li>
								<div class="search-filter-selected select-icon">
									<div class="form-group">
										<span class="sort-text"><img src="assets/img/icons/user-heart.svg" class="img-fluid" alt="img"></span>
										<select class="select">
											<option>Plan</option>
											<option>Purchase</option>
										</select>
									</div>
								</div>
							</li>
						</ul>
						<div id="tablefilter"></div>
					</div>
					<div class="table-responsive custom-table">
						<table class="table table-stripe datatable">
							<thead class="thead-light">
								<tr>
									<th>ID</th>
									<th>Invoice No</th>
									<th>Billing Date</th>
									<th>Plan</th>
									<th>Status</th>
									<th>Amount</th>
									<th class="text-end">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>
										<a href="#">INV0045</a>
									</td>
									<td>01 Dec 2023 09:00AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$100
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>
										<a href="#">INV0044</a>
									</td>
									<td>01 Nov 2023 10:00AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$200
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>3</td>
									<td>
										<a href="#">INV0043</a>
									</td>
									<td>01 Oct 2023 09:15AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$300
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>4</td>
									<td>
										<a href="#">INV0043</a>
									</td>
									<td>01 Sep 2023 09:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$400
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>5</td>
									<td>
										<a href="#">INV0041</a>
									</td>
									<td>30 Aug 2023 09:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$100
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>6</td>
									<td>
										<a href="#">INV0040</a>
									</td>
									<td>25 Aug 2023 07:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$200
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>7</td>
									<td>
										<a href="#">INV0039</a>
									</td>
									<td>15 Aug 2023 06:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$500
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>8</td>
									<td>
										<a href="#">INV0038</a>
									</td>
									<td>10 Aug 2023 09:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$400
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>9</td>
									<td>
										<a href="#">INV0037</a>
									</td>
									<td>01 Aug 2023 11:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$500
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>10</td>
									<td>
										<a href="#">INV0036</a>
									</td>
									<td>20 Jul 2023 12:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$300
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>11</td>
									<td>
										<a href="#">INV0035</a>
									</td>
									<td>10 JUl 2023 05:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$400
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>12</td>
									<td>
										<a href="#">INV0034</a>
									</td>
									<td>01 Jul 2023 09:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$400
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>13</td>
									<td>
										<a href="#">INV0033</a>
									</td>
									<td>01 Jun 2023 11:30AM</td>
									<td>
										Basic
									</td>
									<td>
										<span class="badge badge-receive bg-success d-inline-flex align-items-center"><i class="feather-check me-2"></i>Paid</span>
									</td>
									<td>
										$500
									</td>
									<td>
										<div class="table-action justify-content-end">
											<a href="javascript:void(0);"><i class="feather-download"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="table-footer">
						<div id="tablepage"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		<footer class="footer">
			<div class="section-bg">
				<img src="assets/img/bg/footer-bg-01.png" class="footer-bg-one" alt="img">
				<img src="assets/img/bg/footer-bg-02.png" class="footer-bg-two" alt="img">
			</div>
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="500">
							<div class="footer-widget">
								<a href="index.html">
									<img src="assets/img/white-logo.svg" alt="logo">
								</a>
								<p>Our mission is to lead the way in digital transformation and automation. We aim to enabling them to navigate the evolving digital landscape with confidence.</p>
								<div class="social-links">
									<ul>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-google"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="600">
							<div class="footer-widget">
								<h3>Our Company</h3>
								<ul class="menu-items">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="categories-2.html">Categories</a></li>
									<li><a href="add-gigs.html">Create Gigs</a></li>
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="faq.html">FAQ</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="800">
							<div class="footer-widget">
								<h3>Dashboard</h3>
								<ul class="menu-items">
									<li><a href="user-purchase.html">Purchase</a></li>
									<li><a href="user-sales.html">Sales</a></li>
									<li><a href="user-payments.html">Payments</a></li>
									<li><a href="user-files.html">Files</a></li>
									<li><a href="user-wishlist.html">Wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="700">
							<div class="footer-widget">
								<h3>Featured Categories</h3>
								<div class="row">
									<div class="col-md-6">
										<ul class="menu-items">
											<li><a href="categories.html">Programming & Tech</a></li>
											<li><a href="categories.html">Music & Audio</a></li>
											<li><a href="categories.html">Lifestyle</a></li>
											<li><a href="categories.html">Photography</a></li>
											<li><a href="categories.html">Business</a></li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul class="menu-items extra-menu">
											<li><a href="categories.html">eBook Publishing</a></li>
											<li><a href="categories.html">AI Artists</a></li>
											<li><a href="categories.html">AI Services</a></li>
											<li><a href="categories.html">Data</a></li>
											<li><a href="categories.html">Consulting</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="contact-widget">
						<div class="row align-items-center">						
							<div class="col-xl-9">
								<ul class="location-list">
									<li>
										<span><i class="feather-map-pin"></i></span>
										<div class="location-info">
											<h6>Address</h6>
											<p>367 Hillcrest Lane, Irvine, California,USA</p>
										</div>
									</li>
									<li>
										<span><i class="feather-phone"></i></span>
										<div class="location-info">
											<h6>Phone</h6>
											<p>310-437-2766</p>
										</div>
									</li>
									<li>
										<span><i class="feather-mail"></i></span>
										<div class="location-info">
											<h6>Email</h6>
											<p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8be2e5ede4cbeef3eae6fbe7eea5e8e4e6">[email&#160;protected]</a></p>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-xl-3 text-xl-end">
								<div class="paypal-icons">
									<a href="javascript:void(0);">
										<img src="assets/img/icons/stripe-icon.svg" alt="icon">
									</a>
									<a href="javascript:void(0);">
										<img src="assets/img/icons/paypal-icon.svg" alt="icon">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="copy-right">
								<p>Copyright © 2024 DreamGigs. All rights reserved.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="footer-bottom-links">
								<ul>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="terms-condition.html">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /Footer -->

		<!-- Mouse Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Mouse Cursor -->

		<!-- Top Scroll -->
		<div class="back-to-top">
			<a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top">
				<img src="assets/img/icons/arrow-badge-up.svg" alt="img">
			</a>
		</div>
		<!-- /Top Scroll -->

	</div>
	<!-- /Main Wrapper -->
	
	<!-- jQuery -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
	
	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
	<script src="assets/js/bootstrap-scrollspy.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>

	<!-- Feather JS -->
	<script src="assets/js/feather.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
		
	<!-- Apexchart JS -->
	<script src="assets/plugins/apexchart/apexcharts.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
	<script src="assets/plugins/apexchart/chart-data.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>

	<!-- Sticky Sidebar JS -->
    <script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
    <script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>

	<!-- Datatables JS -->
	<script src="assets/plugins/datatables/jquery.dataTables.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
	<script src="assets/plugins/datatables/datatables.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>

	<!-- Select JS -->
	<script src="assets/plugins/select2/js/select2.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>

	<!-- Datepicker JS -->
	<script src="assets/js/moment.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js" type="02aa29ce224db47eaaeebc51-text/javascript"></script>
	
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="02aa29ce224db47eaaeebc51-|49" defer=""></script></body>
</html>