<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>DreamGigs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.png"> 
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
        
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="assets/css/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">    

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
    
        <!-- Forgot Password -->
        <div class="row gx-0">
        
            <!-- Banner Content -->
            <div class="col-lg-6">
                <div class="authentication-wrapper">
                    <div class="authentication-content">
                        <div class="login-carousel owl-carousel">
                            <div class="login-slider">
                                <img src="assets/img/login-card-01.svg" class="img-fluid" alt="img">
                                <h2>Looking to Buy a service?</h2>
                                <p>Browse Listing & More 900 Services </p>
                            </div>
                            <div class="login-slider">
                                <img src="assets/img/login-card-02.svg" class="img-fluid" alt="img">
                                <h2>Looking to Sell a service?</h2>
                                <p>Browse Listing & More 900 Services </p>
                            </div>
                        </div>
                    </div>
                    <div class="login-bg">
                        <img src="assets/img/bg/shape-01.png" alt="img" class="shape-01">
                        <img src="assets/img/bg/shape-02.png" alt="img" class="shape-02">
                        <img src="assets/img/bg/shape-03.png" alt="img" class="shape-03">
                        <img src="assets/img/bg/shape-04.png" alt="img" class="shape-04">
                        <img src="assets/img/bg/shape-05.png" alt="img" class="shape-05">
                        <img src="assets/img/bg/shape-06.png" alt="img" class="shape-06">
                        <img src="assets/img/bg/shape-07.png" alt="img" class="shape-07">
                    </div>
                </div>
            </div>
            <!-- /Banner Content -->
            
            <!-- Forgot Password Content -->
            <div class="col-lg-6">
                <div class="login-wrapper">
                    <div class="login-content">
                        <form action="change-password.html">
                            <div class="login-userset">
                                <div class="login-logo">
                                   <img src="assets/img/logo.svg" alt="img">
                               </div>
                               <div class="login-card">
                                   <div class="login-heading text-start">
                                       <h3>Forgot Password?</h3>
                                       <p>Fill the fields to get into your account</p>
                                   </div>
                                    <div class="form-wrap form-focus">
                                        <span class="form-icon">
                                            <i class="feather-mail"></i>
                                        </span>
                                        <input type="email" class="form-control floating">
                                        <label class="focus-label">Email</label>
                                   </div>
                                    <div class="form-wrap mantadory-info d-none">  
                                        <p><i class="feather-alert-triangle"></i>Fill all the fields to submit</p>    
                                    </div>                                     
                                    <button type="submit" class="btn btn-primary">Send Email</button>
                               </div> 
                               <div class="acc-in">                                 
                                    <p>Already have an account? <a href="signin.html">Sign In</a></p>
                               </div>
                           </div>
                        </form>
                    </div>
                </div>      
            </div>  
            <!-- /Forgot Password Content -->
            
        </div>      
        <!-- /Forgot Password -->       

        <!-- Mouse Cursor -->
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>
        <!-- /Mouse Cursor -->

    </div>
    <!-- /Main Wrapper -->
    
    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js" type="9977f491fbb447fa78719b5e-text/javascript"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js" type="9977f491fbb447fa78719b5e-text/javascript"></script>
    <script src="assets/js/bootstrap-scrollspy.js" type="9977f491fbb447fa78719b5e-text/javascript"></script>

    <!-- Feather JS -->
    <script src="assets/js/feather.min.js" type="9977f491fbb447fa78719b5e-text/javascript"></script>
        
    <!-- Owl Carousel JS -->
    <script src="assets/js/owl.carousel.min.js" type="9977f491fbb447fa78719b5e-text/javascript"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js" type="9977f491fbb447fa78719b5e-text/javascript"></script>
    
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="9977f491fbb447fa78719b5e-|49" defer=""></script></body>
</html>